<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1></h1>
    <form>
        <div class="form-group">
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" cols="100">
                {% for data in name %}
                    {{ data.date_create|date:"d/m/Y h:m:s" }}: {{ data.site_url }}
                    Connect: {{ data.site_connect }}.

                {% endfor %}
            </textarea>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="20" cols="100">
                    {% for data in name %}
                    {{ data.site_url }}-
                    Title: {{ data.site_title }}.
                    MainHeading: {{ data.main_heading }}.
                    ContentType: {{ data.content_type }}.
                    {% endfor %}
            </textarea>
        </div>
    </form>
        <form action="{% url 'parsing' %}" method = "post">
            {% csrf_token %}
        <input class="io" id="pars_button" type="submit" name="pars_button"  value="Start Parsing"/>
        </form>

</body>
</html>